* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.sections {
    padding: 65px 0;
}

.section-head-text {
    text-align: center;
}

.section-head-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero {
    margin-bottom: 65px;
    height: 100vh;
    background-image: linear-gradient(#12121200, #121212), url('images/Rectangle\ 237.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-text h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: white;

}

.hero-text p {
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 300;
    color: white;
}

.btn {
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    background-color: #1D8016;
    border-radius: 3px;
}


/* section-2 */

.amount-container {
    margin: 60px auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.amount {
    height: 123px;
    width: 136px;
    background-color: #d8d8d85d;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #707070;
    line-height: 123px;
    list-style: none;
}

.marked {
    outline: 3px solid #1D8016;
    background-color: #1d801631;
}

.donate-form {
    text-align: center;
}

.donate-form input {
    width: 60%;
    height: 25px;
    margin-bottom: 30px;
    padding: 3px 0;
    border: 1.5px solid rgba(105, 105, 105, 0.151);
    border-radius: 2px;
    text-align: center;
}

::placeholder {
    color: rgba(105, 105, 105, 0.521);
    font-size: 15px;
    font-weight: 500;
}


/* section-3 */

.plan-box {
    margin-top: 50px;
    padding: 0 10%;
    display: flex;
    justify-content: space-evenly;
}

.plan-box div {
    padding: 50px 30px;
    width: 25%;
    border-radius: 10px;
}

.plan-box div img {
    margin-bottom: 20px;
}

.plan-box div h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.plan-box div p {
    font-size: 14px;
    text-align: justify;
}

.pb-1 {
    background-color: rgba(105, 105, 105, 0.123);
}

.pb-2 {
    background-color: #1d80161f;
}

.pb-3 {
    background-color: #FFF4D6;
}


/* section-4 & 5 */

.call-to-action-holder {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.call-to-action {
    width: 45%;
    margin: auto 0;
}

.call-to-action h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.call-to-action p {
    margin-bottom: 40px;
}

.call-to-action-image {
    width: 45%;
}

.call-to-action-image img {
    width: 100%;
}


/* section-6 */

.prtnrs-holder {
    padding: 65px 0;
    background: rgba(29, 128, 22, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-color {
    color: white;
}

.prtnr-logos {
    padding: 4% 15%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.prtnr-logos div img {
    width: 75%;
    border-radius: 100%;
}

.prtnr-logos div p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}


/* section-7 */

.subscription-form {
    width: 70%;
    margin: 50px auto;
    padding: 65px 0;
    background-color: #1d801633;
    text-align: center;
}

.email-input {
    width: 30%;
    height: 35px;
    padding: 0 10px;
    border: none;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 5px dimgray;
}

.subscribe-btn {
    margin-left: -5px;
    padding: 10px 25px;
    background-color: #1D8016;
    color: white;
    border: none;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 0 5px dimgray;
}




/* Footer */

footer {
    height: fit-content;
    margin-top: -50px;
    padding: 40px 0 20px 0;
    text-align: center;
    background-color: #063802;
}

footer h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

footer p {
    font-size: 14px;
    color: white;
}