* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hero {
    height: 600px;
    background-image: linear-gradient(#12121200, #121212), url('images/Rectangle\ 237.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-text h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: white;

}

.hero-text p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
    color: white;
}

#btn {
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    background-color: #1D8016;
    border-radius: 3px;
}


.donate {
    padding: 130px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.amount-container {
    margin: 100px 0;
}

.amount-container span {
    margin: 0 10px;
    padding: 50px 55px;
    background-color: #FAFAFA;
    /* border: 3px solid #1D8016; */
    border-radius: 5px;
}