* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    margin-bottom: 100px;
    height: 600px;
    background-image: linear-gradient(#12121200, #121212), url('images/Rectangle\ 237.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-text h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: white;

}

.hero-text p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.btn {
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    background-color: #1D8016;
    border-radius: 3px;
}

.sections {
    padding: 0 100px;
    padding-bottom: 100px;
}

.section-head-text {
    text-align: center;
}

.section-head-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.amount-container {
    margin: 60px auto;
    width: 65%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.amount-container li {
    height: 123px;
    width: 136px;
    background-color: #d8d8d85d;
    /* border: 3px solid #1D8016; */
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #707070;
    line-height: 123px;
    list-style: none;
}

.amount-container li:hover {
    transition: .15s;
    outline: 3px solid #1D8016;
    background-color: #1d801631;
}

.donate-form {
    text-align: center;
}

.donate-form input {
    width: 60%;
    height: 25px;
    margin-bottom: 30px;
    padding: 3px 0;
    border: 1.5px solid rgba(105, 105, 105, 0.151);
    border-radius: 2px;
    text-align: center;

}

::placeholder {
    color: rgba(105, 105, 105, 0.521);
    font-size: 15px;
    font-weight: 500;
}



.plan-box {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

}

.plan-box div {
    padding: 50px 30px;
    width: 25%;
    border-radius: 10px;

}

.plan-box div:hover {
    transition: .4s;
    box-shadow: 0px 0px 20px rgba(105, 105, 105, 0.637);
    /* transform: scale(1.01); */
}

.plan-box div img {
    margin-bottom: 20px;
}

.plan-box div h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.plan-box div p {
    font-size: 14px;
    text-align: justify;
}

.pb-1 {
    background-color: rgba(105, 105, 105, 0.123);
}

.pb-2 {
    background-color: #1d80161f;
}

.pb-3 {
    background-color: #FFF4D6;
}

.subscription-form {
    width: 70%;
    margin: 50px auto;
    padding: 65px 0;
    background-color: #1d801633;
    text-align: center;
}

.email-input {
    width: 30%;
    height: 35px;
    padding: 0 30px;
    border: none;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 5px dimgray;
}

.subscribe-btn {
    margin-left: -5px;
    padding: 10px 25px;
    background-color: #1D8016;
    color: white;
    border: none;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 0 5px dimgray;
}





footer {
    height: fit-content;
    margin-top: -50px;
    padding: 40px 0 20px 0;
    text-align: center;
    background-color: #063802;
}

footer h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

footer p {
    font-size: 14px;
    color: white;
}

.sec3-holder {
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
}

.call-to-action {
    width: 45%;
    align-items: center;
}

.call-to-action h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.call-to-action p {
    margin-bottom: 40px;
}

.sec3-image {
    width: 45%;
}

.sec3-image img {
    width: 100%;
}